.textarea {
  p {
    position: absolute;
    bottom: 0;
    left: 20px;
    background-color: hsl(84, 100%, 59%);
    padding: 5px 10px;
    border-radius: 10px;
    color: black;
  }
}

button.submit {
  position: relative;
}

.form-control, .textarea {
  position: relative;
}

label {
  position: absolute;
  top: -1.5em;
  color: white;
  font-style: italic;
  padding: 5px 10px 1em 10px;
  z-index: -2;
  background-color: var(--orange);
  transform: translateX(-1em);
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}