<section class="container">

  <div class="flex">
    <img src="./assets/img/logo.svg" alt="Oxente Ipsum Logo">
  </div>

  <br>
  <br>

  <div class="flex row end">
    <div class="form-control">
      <label for="sentences">Parágrafos</label>
      <input id="sentences" min="1" [(ngModel)]="qtdParagraph" type="number" placeholder="quantidade de sentenças">
    </div>
    <button class="submit" (click)="generateText()">Cuida!
      <cangaceiro id="cangaceiro"></cangaceiro>
    </button>
  </div>

  <hr class="divider">

  <div class="flex column">
    <div class="textarea">
      <label for="text">Conteúdo</label>
      <textarea readonly [(ngModel)]="generatedText" name="text" id="text" cols="30" rows="10">
      </textarea>
      <button (click)="copy(generatedText)">
        <span>copiar</span>
      </button>
      <p [@fade]="fadeInTooltip">Copiado para a Área de Transferência ✔</p>
    </div>
    <p id="disclaimer">Todas as frases geradas foram retiradas de um arquivo modificado pela comunidade de
      desenvolvedores, caso encontre algum conteúdo agressivo, preconceituoso ou que de alguma forma seja mal
      intencionado, por favor entrar em contato, ou abrir um PR no repositório removendo o texto.</p>
  </div>

  <footer>
    <hr>
    <div class="flex row between">
      <span> <i>Desenvolvido por Joel S. Junior</i> </span>
      <div>
        <span> <a target="_blank" href="https://www.linkedin.com/in/joelsantosjunior/">Linkedin</a> </span> &nbsp;
        <span> <a target="_blank" href="https://github.com/joelsantosjunior">Github</a> </span>
      </div>
    </div>
  </footer>
</section>